function statusStyle(status) {
    if (status === "forbidden") {
        return {
            outer: "forbidden",
            inner: ""
        }
    } else if (status === "selected") {
        return {
            outer: "s-outer",
            inner: "s-inner"
        }
    }
}

module.exports = {
    statusStyle: statusStyle
}