function mainPrice(price, discountPrice) {
    if (!discountPrice) {
        return {
            price: price,
            display: true
        }
    }
    return {
        price: discountPrice,
        display: true
    }
}

function slashedPrice(price, discountPrice) {
    if (!!discountPrice) {
        return {
            price: price,
            display: true
        }
    }
    return {
        price: null,
        display: false
    }
}

module.exports = {
    mainPrice: mainPrice,
    slashedPrice: slashedPrice
}
